<div class="bg-light">
  <mat-toolbar class="bg-dark position-relative shadow-lg z-3">
    <div class="w-100 d-flex">
      <div class="text-white me-auto d-flex">
        <a>Med. Jameleddine Bouassida</a>
        <div class="border-start text-white-50 ms-3 ps-2">
          <button mat-button>Projects</button>
          <button mat-button>Skills</button>
          <button mat-button>Experience & education</button>
          <button mat-button>Contact me</button>
        </div>
      </div>
      <app-language-component></app-language-component>
    </div>
  </mat-toolbar>
  <app-about></app-about>
</div>
