.page-height {
    height: 100vh;
}

.sidebar {
    width: 6rem;
}

.custom-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.bg-custom-dark {
    background: #313134;
}

.active-link {
    background-color: lightgrey;
    color: black;
}

.inactive-link {
    color: white;
}
