<section id="about">
  <div class="m-5 d-flex">
    <div>
      <p class="display-4">Bonjour, je suis Jamel.</p>
      <p class="w-">
        Je suis un étudiant en ingénierie spécialisé dans le développement
        mobile, effectuant actuellement mon stage de fin d'études chez la
        startup Industry X.0. Je suis passionné de l'amélioration continue et
        prêt à relever les défis technologiques.
      </p>
    </div>
    <img
      height="250"
      width="250"
      class="mx-5 object-fit-cover rounded-circle"
      ngSrc="assets/images/me.png"
      alt="me"
    />
  </div>
</section>
