<section class="my-3 py-5 bg-gray-700 px-sm-3 mt-5">
    <mat-card class="col-md-10 rounded-5 bg-white bg-opacity-25 mx-3 mx-md-auto mb-2 py-3">
        <div class="mx-auto d-flex text-white">
            <mat-icon style="transform: scale(2)" class="me-4 my-auto">code_blocks</mat-icon>
            <p class="display-6 my-1">{{ "realisedProjects"|translate }}</p>
        </div>
        <app-carousel (selectedProjectEmitter)="changeProject($event)"></app-carousel>
    </mat-card>
    <div class="row col-md-10 mx-auto">
        <mat-card *ngIf="(selectedProject.type == ProjectType.MULTIPLATFORM
                                       || selectedProject.type == ProjectType.MOBILE) && mobileIsShown"
                  class="w-auto my-3 my-md-auto mx-auto p-1 shadow-lg rounded-5 bg-black border-black border-4">
            <div class="absolute h-4 w-4 bg-black top-3 rounded-5 z-40" style="right: 48.5%;"></div>
            <div class="absolute h-12 w-2 bg-black rounded-2" style="right: -2.5%;top: 10%;"></div>
            <div class="absolute h-12 w-2 bg-black rounded-2" style="right: -2.5%;top: 20%;"></div>
            <div class="absolute h-14 w-2 bg-black rounded-2" style="right: -2.5%;top: 40%;"></div>
            <video id="video-mobile" controls autoplay muted [loop]="true"
                   class="z-3 object-fit-contain"
                   style="aspect-ratio: 9/20; border-radius:1.75rem; max-height: 80vh">
                <source src="{{selectedProject.videoUrl}}" type="video/mp4"/>
                Your browser does not support the video tag.
            </video>
        </mat-card>
        <mat-card class="col-11 rounded-5 p-3 m-auto" [ngClass]="mobileIsShown ? 'col-md-8 mx-auto' : 'col-md-12'">
            <div class="row">
                <h2 class="col-md-12 text-center font-medium text-black my-2" style="font-size: 35px">
                    {{ selectedProject.title }}
                </h2>
                <h1 class="col-md-12 text-center font-medium text-gray-500 mb-3">
                    {{ selectedProject.subtitle }}
                </h1>
                <div class="d-flex col-md-6 mx-auto bg-gray-100 rounded-5 p-1">
                    <button *ngIf="selectedProject.type == ProjectType.MULTIPLATFORM
                                       || selectedProject.type == ProjectType.MOBILE"
                            mat-button style="width: 10rem"
                            class="mx-auto py-4 bg-primary text-white rounded-4"
                            (click)="toggleShowMobile()"
                            [ngClass]="mobileIsShown ? 'bg-danger' : 'bg-primary'">
                        {{ mobileIsShown ? ("hideMobile"|translate) : ("displayMobile"|translate) }}
                        <mat-icon>smartphone</mat-icon>
                    </button>
                    <button *ngIf="selectedProject.type == ProjectType.MULTIPLATFORM
                                       || selectedProject.type == ProjectType.WEB"
                            mat-button style="width: 10rem"
                            class="mx-auto bg-primary py-4 text-white rounded-4"
                            (click)="toggleShowWeb()"
                            [ngClass]="webIsShown ? 'bg-danger' : 'bg-primary'">
                        {{ webIsShown ? ("hideWeb"|translate) : ("displayWeb"|translate) }}
                        <mat-icon>computer</mat-icon>
                    </button>
                    <button mat-button style="width: 10rem"
                            class="mx-auto py-4 text-white rounded-4" (click)="toggleShowMore()"
                            [ngClass]="moreIsShown ? 'bg-danger' : 'bg-primary'">
                        {{ moreIsShown ? ("hideDetails"|translate) : ("showDetails"|translate) }}
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <div class="col-md-8 my-3 mx-auto">
                    <mat-card *ngIf="selectedProject.type == ProjectType.MULTIPLATFORM
                                       || selectedProject.type == ProjectType.WEB"
                              [@expandCollapse]="webIsShown ? 'open' : 'closed'" class="rounded-4 bg-black">
                        <video id="video-web" controls autoPlay muted [loop]="true"
                               class="rounded-4 overflow-hidden " style="aspect-ratio: 28/13;">
                            <source type="video/mp4"
                                    [src]="selectedProject.type == ProjectType.MULTIPLATFORM ?
                        selectedProject.altVideoUrl :
                        selectedProject.videoUrl"/>
                            Your browser does not support the video tag.
                        </video>
                    </mat-card>
                </div>
            </div>
            <div [@expandCollapse]="moreIsShown ? 'open' : 'closed'"
                 class="col-md-12 bg-gray-100 rounded-4 mx-auto">
                <div class="p-3">
                    <p class="title-font fw-bold text-black my-2">
                        {{"description"|translate}} :
                    </p>
                    <p class="text-gray-700 my-2">
                        {{ selectedProject.description }}
                    </p>
                    <p class="fw-bold my-2">
                        {{"sourceCode"|translate}} :
                    </p>
                    <p class="text-gray-700 my-2">
                        <ng-container *ngIf="selectedProject.sourceCodeUrl; else link">
                            <a class="link-info"
                               [href]="selectedProject.sourceCodeUrl">{{ selectedProject.sourceCodeUrl }}</a>
                        </ng-container>
                        <ng-template #link>
                            <p>{{ "sourceCodeIsPrivate"|translate }}</p>
                        </ng-template>
                    </p>
                    <p class="title-font fw-bold text-black my-2">
                        {{"platform"|translate}} :
                    </p>
                    <p class="title-font font-normal text-gray-700 mt-2">
                        <span>{{ selectedProject.platforms }}</span>
                    </p>
                </div>
            </div>
            <div class="text-center font-medium text-black my-1">
                <div class="row mx-auto">
                    <h4>{{"usedTechnologies"|translate}} :</h4>
                </div>
                <div class="col-md-12 cursor-pointer">
                    <div class="d-flex w-75 mx-auto">
                        <ng-container *ngFor="let technology of selectedProject.technologies;">
                            <a [href]="technology.link" class="rounded-4 p-2 mx-auto z-3"
                               [ngClass]="technology.color" target="_blank">
                                <img width="75" height="75" alt="logo" class="mx-3"
                                     [ngSrc]="technology.logoUrl"/>
                                <p class="text-black mt-2">{{ technology.name }}</p>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</section>
